/*
 * 
 * 
 */
 
#container {
    border:3px solid #c3daf9;
}

.v-item-disabled {
    cursor: default;
    opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity=60);
}

#logo {
    background-image: url( images/logo.png ) !important;
}

    #loading {
        height:auto;
        position:absolute;
        left:40%;
        top:40%;
        padding:2px;
        z-index:20001;
    }
    #loading a {
        color:#225588;
    }
    #loading .loading-indicator{
        background:white;
        color:#444;
        font:bold 13px Helvetica, Arial, sans-serif;
        height:auto;
        margin:0;
        padding:10px;
    }
    #loading-msg {
        font-size: 10px;
        font-weight: normal;
    }

/* Left corner, Navigation bar css */

.m3oToolbarCls {
    font-size: 22px !important;
    font-weight: bold;
    font-family: sans-serif;
    top: 5px;
}

.x-btn-arrow {
  background-image: url('../resources/themes/images/default/menu/menu-parent.gif');
  display: block;
}

/* Right corner, Menu bar css */
.user {
    background-image: url( images/user.png ) !important;
}
.setting {
    background-image: url( images/setting.png ) !important;
}

.refresh {
    background-image: url( images/Refresh.png ) !important;
}

#images-view .x-panel-body{
  background: white;
  font: 11px Arial, Helvetica, sans-serif;
}
#images-view .thumb{
  background: #dddddd;
  padding: 3px;
}
#images-view .thumb img{
  height: 100px;
  width: 100px;
}
#images-view .thumb-wrap{
  float: left;
  margin: 4px;
  margin-right: 0;
  padding: 5px;
}
#images-view .thumb-wrap span{
  display: block;
  overflow: hidden;
  text-align: center;
}

#images-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../../resources/images/default/grid/row-over.gif) repeat-x left top;
  padding: 4px;
}

#images-view .x-view-selected{
  background: #eff5fb url(images/selected.gif) no-repeat right bottom;
  border:1px solid #99bbe8;
  padding: 4px;
}
#images-view .x-view-selected .thumb{
  background:transparent;
}

#images-view .loading-indicator {
  font-size:11px;
  background-image:url('../../resources/images/default/grid/loading.gif');
  background-repeat: no-repeat;
  background-position: left;
  padding-left:20px;
  margin:10px;
}